<div
  class="landing-container d-flex align-items-center justify-content-center h-100 w-100"
>
  <div class="landing-content">
    <h1 style="opacity: 1; color: darkblue; font-family: Pacifico">
      Securely Manage Your Passwords with Our Password Manager App
    </h1>
    <h3>Simplify and Strengthen Your Online Security</h3>
    <ul class="landing-list">
      <li><img src="../../assets/check.png" />Enhanced Security</li>
      <li><img src="../../assets/check.png" />Convenience and Efficiency</li>
      <li><img src="../../assets/check.png" />Peace of Mind</li>
      <li><img src="../../assets/check.png" />Cross-Platform Accessibility</li>
      <li><img src="../../assets/check.png" />Simplicity</li>
    </ul>
    <a routerLink="/main">
      <button class="first-link btn">Start Now!</button>
    </a>
    <a routerLink="/generate">
      <button class="second-link btn">
        <i>Generate Password</i>
      </button>
    </a>
  </div>
  <img class="landing-image" src="../../assets/secure.jpg" />
</div>
