.main-container {
    padding: 20px; 
    display: flex; 
    flex-direction: column;
    row-gap: 20px;
    width: 100%;
    align-items: center;
}

.key-input {
    width: 75%;
    height: 40px;
    border-radius: 8px;
    border: 1px solid #ccc;
    padding: 10px;
    font-size: 16px;
    outline: none;
    background: rgba(255,255,255,0.5);
}

.buttons {
    display: flex;
    column-gap: 10px;
}